test_host=http://localhost:8080/regweb3/ws/v3/
test_usr=caibapp
test_pwd=caibapp
test_entidadcodigodir3=A04006741
//test_entidadcodigodir3=U00000096
test_archivos_path=D:/dades/dades/SICRES3/regweb3/archivos/

test_destinocodigodir3=A04006741
test_destinooficinacodigodir3=O00015972
test_destinolibro=ADM
test_username=earrivi
test_tipoasunto=AS09
test_anexo_tipodocumental=TD14
test_codigosia=203584
