test_host_localhost=http://localhost:8080/regweb3/ws/v3/
test_usr_localhost=SISTRARWE
test_pwd_localhost=sistrarwe
test_entidad_dir3_localhost=EA0004518
test_oficina_origen_dir3_localhost=O00016551
test_destino_dir3_localhost=E12345678
test_origen_dir3_localhost=EA0004518
test_libro_localhost=APB
test_username_localhost=jamalj
test_tipoasunto_localhost=Fac
test_anexo_tipodocumental_localhost=TD01
test_codigo_sia_localhost=1234
test_archivos_path_localhost=D:/Dades/regweb_doc/regweb_files