test_host=http://localhost:8080/regweb3/ws/v3/
test_usr=caibapp
test_pwd=caibapp
test_entidad_dir3=A04006741
test_archivos_path=D:/dades/dades/SICRES3/regweb3/archivos/

test_destino_dir3=A04006741
test_destino_oficina_dir3=O00015972
test_libro=ADM
test_username=earrivi
test_tipoasunto=AS09
test_anexo_tipodocumental=TD14
test_codigo_sia=203584
