/* Canvis estils generals */

body { background-image:url(../img/background-pattern.png); color:#666666; padding:0 !important;}

.help-block-red {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #a94442;
}
.well-white{
    background-color: #ffffff;
    box-shadow: #888888;
    margin: 0px 20px;
}
.alert-grey {
    max-width: 100%;
    padding: 8px 15px;
    margin-bottom: 20px;
    border-radius: 4px;
    color: #666666;
    background-color: #f5f5f5;
}
.alert-grey .alert-link {
    color: #245269;
}
.alert-warning {
    max-width: 100%;
    padding: 8px 15px;
    margin-bottom: 20px;
    border-radius: 4px;
}
textarea{
	width: 100%;
}
.vertical-align {
    display: flex;
    align-items: center;
}
.etiqueta_regweb{
    padding: 3px 0px 0px;
    font-size: 13px;
}
.etiqueta_regweb12{
    padding: 0px;
    font-size: 12px;
}
.etiqueta_regweb_left {
    padding: 0px;
    font-size: 13px;
    text-align: left;
}
.messages-dropdown{
	color:#ffffff;
}
.dropdown {
	color:#ffffff;
	left: auto;
}
.caret {
	border-top-color:#ffffff;
}
.navbar-collapse.collapse {
	background-color:#ff9523;
	padding-bottom: 10px;
	position:fixed;
	top: 0px;
	margin-bottom: 20px;
	width:100%;
	-moz-box-shadow: 0px 0px 5px #888;
	-webkit-box-shadow: 0px 0px 5px#888;
	box-shadow: 0px 0px 5px #888;
}
.container {
	min-width:960px !important;
	padding-top: 130px;
}
.govern-logo {
	margin: 10px 10px 0px 20px;
	padding-right: 20px;
	border-right: 1px solid #FFFFFF;
}
.aplication-logo {
	padding: 15px 0px 20px 20px;
}
.navbar-collapse .navbar-nav > li > a {
	color: #ffffff;
	background: #ff9523;
}
.navbar-collapse .navbar-nav > li > a:hover {
	color:#ffffff;
	background: #ff9523;
	text-decoration: none;
}
.dropdown-menu li > a:hover, .dropdown-menu .active > a, .dropdown-menu .active > a:hover {
	color: #ffffff;
	text-decoration: none;
	background-color: #ff9523 !important;	
}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
	background-color: #ff9523;
	color: #ffffff;
}
.peu {
	padding-top: 20px;
	padding-bottom: 10px;
}
.colophon{
    font-weight: bold;
}
.navbar-nav > li > a {
	padding-top: 25px;
	padding-bottom: 10px;
	color: #ffffff;
	background: #ff9523;
}
.navbar-nav > li > .dropdown-menu {
	margin-top: -10px;
	margin-right: 10px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	left: auto;
	right: 0;
}
.navbar-nav > li > a:hover {
	color:#333333;
	background: #ff9523;
	text-decoration:none;
}
.boto-panel{
	padding: 0px;
	/*text-align: center;*/
}
.boto-informe{
    margin-left: 22px;
}
.boto-mesOpcions{
    padding-left: 2px;
}
.input-group[class*="col-"] {
	float: none;
	padding-left: 16px;
	padding-right: 0px;
}
.date {
	padding-right: 15px;
}
.user-nav {
	padding-right: 10px;
}
.panel-info{
	margin-bottom: 20px;
}
.col-xs-10-llarg {
	padding-right: 0px;
	position: relative;
	min-height: 1px;
	width: 83.33333333333334%;
}
.no-pad-right{
	padding-right: 0px;
}
.no-pad-left{
    padding-left: 0px;
}
.no-pad-lateral{
    padding-right: 0px;
    padding-left: 0px;
}
.pad-lateral-10{
    padding-right: 10px;
    padding-left: 10px;
}
.pad-left{
    padding-left: 25px;
}
.pad_left-20{
    padding-left: 20px;
}
.margin-top20{
    margin-top: 20px;
}
.margin-left10{
    margin-left: 10px;
}
.boto-nou{
	margin-bottom: 5px;
}
.llistaReg{
    margin-bottom: 5px;
}
.container-fluid > .navbar-header {
	margin-right: 0px;
	margin-left: 0px;
	z-index: 1000;
}
.navbar-header {
	margin-right: 0px;
	margin-left: 0px;
	background-color: #ff9523;
	padding-bottom: 10px;
	position:fixed;
	top: 0px;
	left: 0px;
	margin-bottom: 20px;
	width: 100%;
	-moz-box-shadow: 0px 0px 5px #888;
	-webkit-box-shadow: 0px 0px 5px #888;
	box-shadow: 0px 0px 5px #888;
	padding-right: 20px;
	z-index: 1000;
}
.navbar-nav > li {
	float: left;
	width: auto;
}
.navbar-right .dropdown-menu {
	right: 0;
	left: auto;
}
.dropdown-menu {
    margin: 0px 0 0;
}
.centrat {
    float: none;
    margin: 0 auto;
}
.centrat-float-left{
    float: left;
}
@-moz-document url-prefix() {
    .filas {
        float: none;
        margin: 0 auto;
    }
}
.pad-bottom5 {
    padding-bottom: 5px;
}
.pad-bottom15 {
    padding-bottom: 15px;
}
.alert-dismissable .close {
    position: relative;
    top: -2px;
    right: -11px;
    color: inherit;
}
.no-bold{
    font-weight: normal;
}
.pad-right-15{
    padding-right: 15px;
}
.pad-top-0{
    padding-top: 0px !important;
}
.textEsq{
    text-align: left !important;
}
.senseMargeLat{
    margin-left: 0px !important;
    margin-right: 0px !important;
}
/* FI Canvis estils generals */

/* Text de titols al menu Configuracio */
.text-success-submenu {
	color: #47a447;
	padding-left: 10px;
}
.text-info-submenu {
	color: #3276b1;
	padding-left: 10px;
}
.text-danger-submenu {
	color: #d2322d;
	padding-left: 10px;
}
/* FI Text de titols al menu Configuracio */

/* Canviar submenu cap a l'esquerra i dreta*/
.chevron-right {
	color: #cccccc; 
}
.chevron-left {
	color: #cccccc; 
	margin-right: 5px;
}
.dropdown-submenu-left{
	position: relative; 
}
.dropdown-submenu-left > .dropdown-menu {
	margin-top: -3px;
	margin-left: -1px;
	-webkit-border-radius: 0 6px 6px 6px;
	-moz-border-radius: 0 6px 6px 6px;
	border-radius: 0 6px 6px 6px; 
}
.dropdown-submenu-left:hover > .dropdown-menu {
	display: block; 
}
.dropdown-submenu-left:hover > a:after {
	border-left-color: white; 
}
.dropdown-submenu-left > a:after {
	float: none;
	margin-top: 5px; 
}
.dropdown-submenu-left.toggle-left {
	width: 100%;
}
.dropdown-submenu-left.toggle-left > .dropdown-menu {
	right: 100%;
	top: 2px;
	float: left;
	-webkit-border-radius: 6px 6px 6px 6px;
	-moz-border-radius: 6px 6px 6px 6px;
	border-radius: 6px 6px 6px 6px; 
} 
.dropdown-submenu-right{
	position: relative; 
}
.dropdown-submenu-right > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px 6px;
    border-radius: 0 6px 6px 6px; 
}
.dropdown-submenu-right:hover > .dropdown-menu {
    display: block; 
}
.dropdown-submenu-right:hover > a:after {
    border-left-color: white; 
}
.dropdown-submenu-right > a:after {
    display: block;
    float: right;
    width: 0;
    height: 0;
    margin-top: 5px;
    margin-right: -10px; 
}
.dropdown-submenu-right.toggle-right {
     display: block;
	 width: 100%;
}
.dropdown-submenu-right.toggle-right > .dropdown-menu {
    left: 100%;
    -webkit-border-radius: 6px 6px 6px 6px;
    -moz-border-radius: 6px 6px 6px 6px;
     border-radius: 6px 6px 6px 6px; 
}
/* FI Canviar submenu cap a l'esquerra i dreta */

/* Tamany INPUTS, Taules */
.form-control {
    height: 25px;
	padding: 3px;
}
.table>tbody>tr>td {
    padding: 2px 2px 2px 10px;
    height: 20px;
	vertical-align: middle;
	font-size: 13px;
}
.table>thead>tr>th{
    height: 30px;
    padding: 4px;
}
.table1 {
    width: 100%;
    margin-bottom: 8px;
}
.table1>tbody>tr>td {
    padding: 2px;
    height: 20px;
    vertical-align: middle;
    font-size: 13px;
}
/*.table-responsive {
	margin-right: 20px;
	margin-left: 20px;
}
.table-responsive-inici {
    margin-right: 0px;
    margin-left: 0px;
}*/
.center{
   text-align: center;
}
.button-right {
    float: right !important;
    margin-top: 5px;
}
/* FI Tamany INPUTS, Taules */

.detalle_registro dt {
    float: left;
    overflow: hidden;
    clear: left;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.detalle_registro dd {
    margin-bottom:3px;
}

/* CALENDAR */
.input-group-addon {
  padding: 3px 12px;
}
/* Fi CALENDAR */

/* Pagination */
.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
	background-color: #ff9523;
	border-color: #ff9523;
}
.pagination>li>a, .pagination>li>span, .pagination>li>a, .pagination>li>span {
	color: #000000;
}
.pagination>li>a:hover, .pagination>li>span:hover, .pagination>li>a:focus, .pagination>li>span:focus {
	color: #000000;
}
/* FI Pagination */

/* Estil per submenu normal */
.submenu-complet {
    width: 100%;
}
/* FI Estil submenu normal */

/* TABS */
.tab-content {
	border: 1px solid #ddd;
	border-top-color: transparent;
	padding-top: 30px;
	padding-bottom: 30px;
	background-color: #ffffff;
    display: inline-block;
    overflow: visible;
    width: 100%;
}
.nav {
	margin-bottom: 0px;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
	color: #000000;
	font-weight: bold;
}
.nav-tabs > li > a {
	color: #000000;}
/* FI TABS */

/* MODAL */
.modal-content {
	z-index: 100000;
}
.modal-medio {
    width: 500px;
}
.modal-maxh-600 {
	max-height: 600px;
	overflow: auto;
}
/* FI MODAL */

/* ARXIU */
.btn-file {
    position: relative;
    overflow: hidden;
    padding-top: 2px;
    padding-bottom: 3px;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 999px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    background: red;
    cursor: inherit;
    display: block;
}
input[readonly] {
    background-color: white !important;
    cursor: text !important;
}
.arxiu_actual {
    margin: 6px 0px 0px;
}
input[readonlyGris] {
    background-color: #eee !important;
    cursor: text !important;
}
/* FI ARXIU */

/* ColorPicker */
.pick-a-color-markup .hex-pound {
    padding: 0px 8px;
}
.pick-a-color-markup .input-group-btn .color-dropdown {
    padding: 1px 4px 2px 8px;
}
.pick-a-color-markup .color-preview {
    margin-right: 0px;
}
/* FI ColorPicker */

/* Select múltiple */
.chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
    right: 6px;
}
/* FI Select múltiple */

/* Modal de la imagen de sincronización */
#modalSincro .modal-dialog
{
  width: 320px;
}

/* Modal del sello */
.modal-sello {
    width: 350px;
}
.representante{
    cursor:pointer;
}

/* ARBRE ORGANISMES */
.tree {
    min-height:20px;
	margin-bottom: 10px;
    background-color:#fff;
    margin-left: 15px;
	padding-left: 15px;
	padding-top: 15px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    /*-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);*/
    /*-moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);*/
    /*box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);*/
}
.tree li {
    list-style-type:none;
    margin:0;
    padding:10px 5px 0 5px;
    position:relative;
}
.tree li::before, .tree li::after {
    content:'';
    left:-20px;
    position:absolute;
    right:auto;
}
.tree li::before {
    border-left:1px solid #999;
    bottom:50px;
    height:100%;
    top:0;
    width:1px;
}
.tree li::after {
    border-top:1px solid #999;
    height:20px;
    top:25px;
    width:25px;
}
.tree li span {
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border:1px solid #999;
    border-radius:5px;
    display:inline-block;
    padding:3px 8px;
    text-decoration:none;
}
.tree li.parent_li>span {
    cursor:pointer;
}
.tree>ul>li::before, .tree>ul>li::after {
    border:0;
}
.tree li:last-child::before {
    height:26px;
}
.tree li.parent_li>span:hover, .tree li.parent_li>span:hover+ul li span {
    background:#eee;
    border:1px solid #94a0b4;
    color:#000;
}
.badge-arbre {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 10px;
	cursor: pointer;
}
.btn-servei {
    color: #fff;
    background-color: #ffff00;
    border-color: #FFE905;
}
.btn-servei:hover,
.btn-servei:focus,
.btn-servei:active,
.btn-servei.active{
    color: #fff;
    background-color: #FFE835;
    border-color: #FFE744;
}
.btn-llibre {
    color: #fff;
    background-color: #b374d1;
    border-color: #a357c7;
}
.btn-llibre:hover,
.btn-llibre:focus,
.btn-llibre:active,
.btn-llibre.active{
    color: #fff;
    background-color: #ac5fd0;
    border-color: #a357c7;
}
.btn-llibre-llegenda {
    color: #fff;
    background-color: #b374d1;
    border-color: #B267D5;
    cursor: default;
    width: 100%;
}
.btn-llibre-llegenda:hover,
.btn-llibre-llegenda:focus,
.btn-llibre-llegenda:active,
.btn-llibre-llegenda.active{
    color: #fff;
    background-color: #b374d1;
    border-color: #B267D5;
}
.btn-danger-llegenda {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
    cursor: default;
    width: 100%;
}
.btn-danger-llegenda:hover,
.btn-danger-llegenda:focus,
.btn-danger-llegenda:active,
.btn-danger-llegenda.active{
    color: #fff;
    background-color: #d9534f;
    border-color: #B267D5;
}
.btn-quart {
    color: #fff;
    background-color: #b1b0b0;
    border-color: #959494;
}
.btn-quart:hover,
.btn-quart:focus,
.btn-quart:active,
.btn-quart.active{
    color: #fff;
    background-color: #9f9f9f;
    border-color: #959494;
}
.btn-ofaux {
    color: #999999;
    background-color: #FFD700;
    border-color: #CBB11B;
}
.btn-ofaux:hover,
.btn-ofaux:focus,
.btn-ofaux:active,
.btn-ofaux.active{
    color: #999999;
    background-color: #E7C713;
    border-color: #CBB11B;
}
.btn-edp {
    color: #999999;
    background-color: #6FF6F5;
    border-color: #55CECD;
}
.btn-edp:hover,
.btn-edp:focus,
.btn-edp:active,
.btn-edp.active{
    color: #999999;
    background-color: #27F6F7;
    border-color: #55CECD;
}
.btn-oficinafuncional {
    color: #fff;
    background-color: #83ef47;
    border-color: #7af736;
}
.btn-oficinafuncional:hover,
.btn-oficinafuncional:focus,
.btn-oficinafuncional:active,
.btn-oficinafuncional.active{
    color: #fff;
    background-color: #73e136;
    border-color: #7af736;
}
.btn-ofsir {
    color: #fff;
    background-color: #FF99FF;
    border-color: #FD61FD;
}
.btn-ofsir:hover,
.btn-ofsir:focus,
.btn-ofsir:active,
.btn-ofsir.active{
    color: #fff;
    background-color: #FD61FD;
    border-color: #E541E5;
}
.btn-primary-llegenda {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    cursor: default;
    width: 100%;
}
.btn-primary-llegenda:hover,
.btn-primary-llegenda:focus,
.btn-primary-llegenda:active,
.btn-primary-llegenda.active{
    color: #fff;
    background-color: #286090;
    border-color: #122b40;
}
.btn-warning-llegenda {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236;
    cursor: default;
    width: 100%;
}
.btn-warning-llegenda:hover,
.btn-warning-llegenda:focus,
.btn-warning-llegenda:active,
.btn-warning-llegenda.active{
    color: #fff;
    background-color: #ec971f;
    border-color: #985f0d;
}
.text-gris{
    color: #333;
}
a.text-gris:hover,
a.text-gris:focus {
    color: #333;
    text-decoration: none;
}
/* FI ARBRE ORGANISMES */

/* REGISTROS MIGRADOS */
.panel-heading-migrado {
    padding: 5px 0px 5px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.alert-lopd {
    padding: 0px 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}
/* FI REGISTROS MIGRADOS */

/* REMISION EXTERNA */
.remision-externa {
    max-width: 100%;
    padding: 8px 15px;
    margin-bottom: 20px;
    border-radius: 4px;
}
/* FI REMISION EXTERNA */

/*POPOVER*/
.popover-content {
    color: black;
    font-size: 11px;
    font-weight: normal;
}
.popover.top {
    margin-top: -10px;
    max-width : 500px;
    width: 100%;
    z-index: 1060;
}
.popover.bottom {
    margin-bottom: -10px;
    max-width : 500px;
    width: auto;
    z-index: 1060;
}

/*BUSQUEDA AVANZADA*/
.mesOpcions {
    padding-right: 45px;
}
.pad-right-60 {
    padding-right: 60px;
}
.espaiLinies{
    margin-bottom: 15px;
}

/* DUAL LIST BOX MARILEN */

.select-distribucion {
	width: 270px;
	box-sizing: border-box;
}
/* FIN DUAL LIST BOX MARILEN */

.select-destinatari {
    width: 180px;
    margin-left: 0px;
    margin-right: 5px;
}

.vuitanta-percent {
    max-width: 80%;
    font-size: 12px;
    font-weight: bold;
    line-height: 1;
}

/* SCROLL DE MENU */
.scrollable-menu {
    height: auto;
    max-height: 800%;
    overflow-x: hidden;
}

.scrollable-menu::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 15px;
}
.scrollable-menu::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: grey;
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.75);
}

.azul{
    color: #428bca;
}
.azul:hover,
.azul:focus {
    color: #4173B1;
}

.textPeu {
    font-size: 80%;
}

.table>tbody>tr>td.senseBorder {
    padding: 2px 2px 2px 10px;
    height: 20px;
    vertical-align: middle;
    font-size: 13px;
    border: 0px;
}
.table>thead>tr>th.senseBorder{
    height: 30px;
    padding: 4px;
}
.text-vermell{
    color: #D9534F;
}
.text-taronja{
    color: #F0AD4E;
}
.text-verd{
    color: #5CB85C;
}
.sin-scroll{
    overflow-x: inherit;
}

/*Divisors a dins el Panel-body*/
.divider-primary {
    border-top: 1px solid #337ab7;
    margin: 5px -15px 5px -15px;
}
.divider-success {
    border-top: 1px solid #3c763d;
    margin: 5px -15px 5px -15px;
}
.divider-danger {
    border-top: 1px solid #ebccd1;
    margin: 5px -15px 5px -15px;
}
.divider-info {
    border-top: 1px solid #bce8f1;
    margin: 5px -15px 5px -15px;
}
.divider-warning {
    border-top: 1px solid #faebcc;
    margin: 5px -15px 5px -15px;
}

/* Panels d'Inici en 2 columnes */
.columnesInici {
    -moz-column-count: 2;
    -moz-column-gap: 10px;
    -webkit-column-count: 2;
    -webkit-column-gap: 10px;
    column-count: 2;
    column-gap: 10px;
}
.columnesInici div {
    display: inline-table;
    width: 100%;
}
/* FI Panels d'Inici en 2 columnes */

/* Estils pels diferents iframes d'Annexe */
/* SI NO HI HA L'OPCIO DE DOCUMENT AMB FIRMA SEPARADA*/
.iframeAnexoFile{
    width: 100%;
    height: 160px;
}
.iframeAnexo{
    width: 100%;
    height: 470px;
}
/* SI HI HA L'OPCIO DE DOCUMENT AMB FIRMA SEPARADA*/
.iframeAnexoFileGros{
    width: 100%;
    height: 240px;
}
.iframeAnexoGros{
    width: 100%;
    height: 560px;
}
.iframeScan{
    width: 100%;
    /*height: 620px; PER MODAL GROS*/
    height: 550px;
    background-color: white;
    min-height:200px;
    border: 0;
    padding: 10px !important;
}
.metadades{
    height: 560px !important;
}
/* FI Estils pels diferents iframes d'Annexe */

.margeDret5{
	margin-right: 5px;
}

/* Estils per ajustar el tamany quan se trien valors molt llargs a Validez, Origen, ... */
.ajustTamanySir{
    word-break: break-all;
    padding-left: 2px;
    max-width: 100%;
    margin-bottom: 20px;
}
.senseMargesLaterals{
    padding-left: 0px;
    padding-right: 0px;
}
.tablePad2>thead>tr>th, .tablePad2>tbody>tr>th, .tablePad2>tfoot>tr>th, .tablePad2>thead>tr>td, .tablePad2>tbody>tr>td, .tablePad2>tfoot>tr>td {
    padding: 10px 1px 10px 1px;
}
.padLateral5{
    padding-left: 5px;
    padding-right: 5px;
}
/* FI Estils per ajustar el tamany quan se trien valors molt llargs a Validez, Origen, ... */

/* Estil per popover de Contactes Oficina */
#popoverContactos {
    position: relative;
    max-width: max-content;
}

/* TABS INFO */
/* ENTRADA */
.contentInfo {
    border: 1px solid #bce8f1;
    border-radius: 4px;
}
.navInfo {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.navInfo > li {
    position: relative;
    display: block;
}
.navInfo > li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
}
.navInfo > li > a:hover,
.navInfo > li > a:focus {
    text-decoration: none;
    background-color: #eee;
}
.navInfo > li.disabled > a {
    color: #777;
}
.navInfo > li.disabled > a:hover,
.navInfo > li.disabled > a:focus {
    color: #31708f;
    text-decoration: none;
    cursor: not-allowed;
    background-color: transparent;
}
.navInfo .open > a,
.navInfo .open > a:hover,
.navInfo .open > a:focus {
    background-color: #eee;
    border-color: #337ab7;
}
.navInfo .nav-divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #bce8f1;
}
.navInfo > li > a > img {
    max-width: none;
}
.navInfo-tabs > li {
    float: left;
    margin-bottom: -1px;
}
.navInfo-tabs > li > a {
    color: #31708f;
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
}
.navInfo-tabs > li > a:hover {
    border-color: #eee #eee #bce8f1;
    background-color: #d9edf7;
}
.navInfo-tabs > li.active > a,
.navInfo-tabs > li.active > a:hover,
.navInfo-tabs > li.active > a:focus {
    color: #31708f;
    font-weight: bold;
    cursor: default;
    background-color: #d9edf7;
    border: 1px solid #bce8f1;
    border-bottom-color: transparent;
}
.navInfo-tabs.nav-justified {
    width: 100%;
    border-bottom: 0;
}
.navInfo-tabs.nav-justified > li {
    float: none;
}
.navInfo-tabs.nav-justified > li > a {
    margin-bottom: 5px;
    text-align: center;
}
.navInfo-tabs.nav-justified > .dropdown .dropdown-menu {
    top: auto;
    left: auto;
}

/* SORTIDA */
.contentDanger {
    border: 1px solid #ebccd1;
    border-radius: 4px;
}
.navDanger {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.navDanger > li {
    position: relative;
    display: block;
}
.navDanger > li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
}
.navDanger > li > a:hover,
.navDanger > li > a:focus {
    text-decoration: none;
    background-color: #eee;
}
.navDanger > li.disabled > a {
    color: #777;
}
.navDanger > li.disabled > a:hover,
.navDanger > li.disabled > a:focus {
    color: #a94442;
    text-decoration: none;
    cursor: not-allowed;
    background-color: transparent;
}
.navDanger .open > a,
.navDanger .open > a:hover,
.navDanger .open > a:focus {
    background-color: #eee;
    border-color: #337ab7;
}
.navDanger .nav-divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #ebccd1;
}
.navDanger > li > a > img {
    max-width: none;
}
.navDanger > li {
    float: left;
    margin-bottom: -1px;
}
.navDanger-tabs > li > a {
    color: #a94442;
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
}
.navDanger-tabs > li > a:hover {
    border-color: #eee #eee #ebccd1;
    background-color: #f2dede;
}
.navDanger-tabs > li.active > a,
.navDanger-tabs > li.active > a:hover,
.navDanger-tabs > li.active > a:focus {
    color: #a94442;
    font-weight: bold;
    cursor: default;
    background-color: #f2dede;
    border: 1px solid #ebccd1;
    border-bottom-color: transparent;
}
.navDanger-tabs.nav-justified {
    width: 100%;
    border-bottom: 0;
}
.navDanger-tabs.nav-justified > li {
    float: none;
}
.navInfo-tabs.nav-justified > li > a {
    margin-bottom: 5px;
    text-align: center;
}
.navDanger-tabs.nav-justified > .dropdown .dropdown-menu {
    top: auto;
    left: auto;
}

/* SIR */
.contentPrimary {
    border: 1px solid #337ab7;
    border-radius: 4px;
}
.navPrimary {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.navPrimary > li {
    position: relative;
    display: block;
}
.navPrimary > li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
}
.navPrimary > li > a:hover,
.navPrimary > li > a:focus {
    text-decoration: none;
    background-color: #eee;
}
.navPrimary > li.disabled > a {
    color: #777;
}
.navPrimary > li.disabled > a:hover,
.navPrimary > li.disabled > a:focus {
    color: #31708f;
    text-decoration: none;
    cursor: not-allowed;
    background-color: transparent;
}
.navPrimary .open > a,
.navPrimary .open > a:hover,
.navPrimary .open > a:focus {
    background-color: #eee;
    border-color: #337ab7;
}
.navPrimary .nav-divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #337ab7;
}
.navPrimary > li > a > img {
    max-width: none;
}
.navPrimary-tabs > li {
    float: left;
    margin-bottom: -1px;
}
.navPrimary-tabs > li > a {
    color: #31708f;
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
}
.navPrimary-tabs > li > a:hover {
    border-color: #eee #eee #337ab7;
    background-color: #337ab7;
    color: #ffffff;
}
.navPrimary-tabs > li.active > a,
.navPrimary-tabs > li.active > a:hover,
.navPrimary-tabs > li.active > a:focus {
    color: #ffffff;
    font-weight: bold;
    cursor: default;
    background-color: #337ab7;
    border: 1px solid #337ab7;
    border-bottom-color: transparent;
}
.navPrimary-tabs.nav-justified {
    width: 100%;
    border-bottom: 0;
}
.navPrimary-tabs.nav-justified > li {
    float: none;
}
.navPrimary-tabs.nav-justified > li > a {
    margin-bottom: 5px;
    text-align: center;
}
.navPrimary-tabs.nav-justified > .dropdown .dropdown-menu {
    top: auto;
    left: auto;
}
/* FI TABS INFO */

/* SELECT CHOSEN AL 100% */
.chosen-container.chosen-container-single {
    width: 100% !important;
}
/* FI SELECT CHOSEN AL 100% */

/* TAMANY PER TEXT 14 */
.text14{
    font-size: 14px;
}
/* FI TAMANY PER TEXT 14 */

/* TAMANY PER TEXT 12 */
.text12{
    font-size: 12px;
}
/* FI TAMANY PER TEXT 12 */

/* Estil etiqueta SIR */
.etiqueta-sir{
    text-align: right;
    padding-right: 20px;
}
/* Estil etiqueta SIR */


/* PER DIV AMB RADIOBUTTONS */
.radioButton{
    padding-left: 35px;
    padding-right: 10px;
}
/* FI PER DIV AMB RADIOBUTTONS */

/* CAMP DE FORMULARI TEXT LECTURA */
.campFormText{
    text-align: left;
    padding-top: 6px;
}
/* FI PER CAMP DE FORMULARI TEXT LECTURA */

/* OPCIONS PEL BOTÓ DE NOU ANNEXE */
.anexoDropdown-info{
    min-width: 0;
    font-size: 12px;
}
.anexoDropdown-info li > a:hover, .anexoDropdown .active > a, .anexoDropdown .active > a:hover {
    cursor:pointer;
    background-color: #bce8f1 !important;
    color: #000000;
}
.anexoDropdown-danger{
    min-width: 0;
    font-size: 12px;
}
.anexoDropdown-danger li > a:hover, .anexoDropdown .active > a, .anexoDropdown .active > a:hover {
    cursor:pointer;
    background-color: #ebccd1 !important;
    color: #000000;
}
/* FI OPCIONS PEL BOTÓ DE NOU ANNEXE */

/* Canvis a l'etiqueta PRE per justificar linies i que no talli paraules */
pre {
    white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
    word-break: normal;
}
/* FI Canvis a l'etiqueta PRE */

.leyenda{
    position: fixed;
    width: 150px;
}
.eti-rechazo{
    width:200px;
}

.alturaArbol{
    min-height: 430px !important;
}

.overVisible{
    overflow-x: visible !important;
}

.marg-bot0 {
    margin-bottom: 0;
}

.llista{
    list-style: circle;
    margin-left: 35px;
}
.padLlista{
    padding-left: 5px !important;
}
.llistaPlantillaMenu{
    max-height: 300px;
}
.negre{
    color: #333;
}
/*Colores libro activo/inactivo*/
.rojo{
    color: #DB534F;
    font-style: italic;
}

.selectSirDest{
    border-radius: 4px;
    font-size: 13px;
    color: #444;
    padding-left: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.dreta{
    float: right;
}
.esquerra{
    float: left;
}
.disabled_events > a {
	text-decoration: none;
	cursor: not-allowed;
	pointer-events: none;
	background-color: transparent;
}
.info-TITOL {
	font-size: 13px;
	font-weight: bold;
	border-bottom: solid 2px #CCC;
	margin-bottom: 8px;
}

.info-SUBTITOL {
	font-size: 12px;
	font-weight: bold;
	border-bottom: solid 1px #CCC;
	margin-bottom: 6px;
	padding-left: 5px;
}

.info-INFO {
	font-size: 10px;
	padding-left: 10px;
}

.info-SUBINFO {
	font-size: 9px;
	padding-left: 15px;
}

.info-TEMPS {
	font-size: 8px;
	padding-right: 20px;
	text-align: right;
	color: #888;
}

.info-SEPARADOR {
	padding-bottom: 10px;
	border-top: dotted 1px #DDD;
}

.info-WARNING {
	font-size: 11px;
	padding-left: 10px;
	color: orange;
}

.info-ERROR {
	font-size: 11px;
	padding-left: 10px;
	color: red;
}

#resultado {
	margin: 1%;
}
.blinking-cursor {
	font-weight: 100;
	font-size: 16px;
	color: #222;
	-webkit-animation: 1s blink step-end infinite;
	-moz-animation: 1s blink step-end infinite;
	-ms-animation: 1s blink step-end infinite;
	-o-animation: 1s blink step-end infinite;
	animation: 1s blink step-end infinite;
}

@keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-webkit-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-ms-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-o-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}