test_host_localhost=http://localhost:8080/regweb3/ws/v3/
test_usr_localhost=caibapp
test_pwd_localhost=caibapp
test_entidad_dir3_localhost=A04019281
test_oficina_origen_dir3_localhost=O00015974
test_destino_dir3_localhost=A04032369
test_origen_dir3_localhost=A04032338
test_libro_localhost=GOIB
test_username_localhost=usuari
test_tipoasunto_localhost=Fac
test_anexo_tipodocumental_localhost=TD01
test_codigo_sia_localhost=1234
test_archivos_path_localhost=D:/dades/SICRES3/regweb3/archivos/