<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:sec="http://www.springframework.org/schema/security"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/security
       http://www.springframework.org/schema/security/spring-security.xsd">

    <sec:global-method-security secured-annotations="enabled" jsr250-annotations="enabled" pre-post-annotations="enabled" proxy-target-class="true"/>

    <sec:http create-session="never" use-expressions="true" auto-config="false" entry-point-ref="preAuthenticatedProcessingFilterEntryPoint">
        <sec:logout logout-success-url="/inici" invalidate-session="true" delete-cookies="true"/>

        <sec:intercept-url pattern="/js/**" access="permitAll"/>
        <sec:intercept-url pattern="/img/**" access="permitAll"/>
        <sec:intercept-url pattern="/css/**" access="permitAll"/>
        <sec:intercept-url pattern="/error.jsp" access="permitAll"/>
        <sec:intercept-url pattern="/anexo/guardarScan/**" access="permitAll"/>
        <sec:intercept-url pattern="/anexo/scanwebresource/**" access="permitAll"/>
        <sec:intercept-url pattern="/anexo/scanwebresource2/**" access="permitAll"/>
        <sec:intercept-url pattern="/public/**" access="permitAll"/>

        <!--Admin Entidad-->
        <sec:intercept-url pattern="/adminEntidad/**" access="hasRole('RWE_ADMIN')"/>

        <!--Entidad-->
        <sec:intercept-url pattern="/entidad/new" access="hasRole('RWE_SUPERADMIN')"/>
        <sec:intercept-url pattern="/entidad/list" access="hasRole('RWE_SUPERADMIN')"/>
        <sec:intercept-url pattern="/entidad/permisos/**" access="hasRole('RWE_ADMIN')"/>
        <sec:intercept-url pattern="/entidad/**/eliminar" access="hasRole('RWE_SUPERADMIN')"/>
        <sec:intercept-url pattern="/entidad/pendientesprocesar" access="hasRole('RWE_ADMIN')"/>
        <sec:intercept-url pattern="/entidad/**/edit" access="hasAnyRole('RWE_SUPERADMIN','RWE_ADMIN')"/>
        <sec:intercept-url pattern="/entidad/usuarios" access="hasRole('RWE_ADMIN')"/>
        <sec:intercept-url pattern="/entidad/**/anular" access="hasRole('RWE_SUPERADMIN')"/>
        <sec:intercept-url pattern="/entidad/**/activar" access="hasRole('RWE_SUPERADMIN')"/>
        <sec:intercept-url pattern="/entidad/**/sincronizar" access="hasRole('RWE_ADMIN')"/>
        <sec:intercept-url pattern="/entidad/**/actualizar" access="hasRole('RWE_ADMIN')"/>
        <sec:intercept-url pattern="/entidad/procesarlibroorganismo/**" access="hasRole('RWE_ADMIN')"/>
        <!--TipoAsunto-->
        <sec:intercept-url pattern="/tipoAsunto/**" access="hasRole('RWE_ADMIN')"/>
        <!--Usuario-->
        <sec:intercept-url pattern="/usuario/new" access="hasAnyRole('RWE_SUPERADMIN','RWE_ADMIN')"/>
        <sec:intercept-url pattern="/usuario/existeUsuario" access="hasRole('RWE_ADMIN')"/>
        <sec:intercept-url pattern="/usuario/list" access="hasRole('RWE_SUPERADMIN')"/>
        <sec:intercept-url pattern="/usuario/**/edit" access="hasAnyRole('RWE_SUPERADMIN','RWE_ADMIN','RWE_USUARI')"/>
        <sec:intercept-url pattern="/usuario/**/delete" access="hasRole('RWE_SUPERADMIN')"/>
        <!--Dir3-->
        <sec:intercept-url pattern="/dir3/**" access="hasRole('RWE_SUPERADMIN')"/>
        <!--Organismo-->
        <sec:intercept-url pattern="/organismo/**" access="hasAnyRole('RWE_ADMIN','RWE_USUARI')"/>
        
        <!--Informe-->
        <sec:intercept-url pattern="/informe/**" access="hasAnyRole('RWE_ADMIN','RWE_USUARI')"/>
        <!--TipoAsunto-->
        <sec:intercept-url pattern="/tipoDocumental/**" access="hasRole('RWE_ADMIN')"/>
        <!--TipoAsunto-->
        <sec:intercept-url pattern="/modeloOficioRemision/**" access="hasRole('RWE_ADMIN')"/>
        <!--RegistroEntrada-->
        <sec:intercept-url pattern="/registroEntrada/**" access="hasRole('RWE_USUARI')"/>
        <!--RegistroSalida-->
        <sec:intercept-url pattern="/registroSalida/**" access="hasRole('RWE_USUARI')"/>
        <!--OficioRemision-->
        <sec:intercept-url pattern="/oficioRemision/**" access="hasRole('RWE_USUARI')"/>
        <!--Persona-->
        <sec:intercept-url pattern="/persona/**" access="hasAnyRole('RWE_ADMIN','RWE_USUARI')"/>
        <!--Plantilla-->
        <sec:intercept-url pattern="/plantilla/**" access="hasRole('RWE_USUARI')"/>
        <!--Libro-->
        <sec:intercept-url pattern="/libro/**" access="hasRole('RWE_ADMIN')"/>
        <!--Libro-->
        <sec:intercept-url pattern="/sir/**" access="hasRole('RWE_ADMIN')"/>
        <!--Configuracion-->
        <sec:intercept-url pattern="/configuracion/**" access="hasRole('RWE_SUPERADMIN')"/>
        <!--PropiedadGlobal-->
        <sec:intercept-url pattern="/propiedadGlobal/**" access="hasAnyRole('RWE_SUPERADMIN','RWE_ADMIN')"/>
        <!--Plugin-->
        <sec:intercept-url pattern="/plugin/**" access="hasAnyRole('RWE_SUPERADMIN','RWE_ADMIN')"/>
        <!--Cola-->
        <sec:intercept-url pattern="/cola/**" access="hasRole('RWE_ADMIN')"/>

        <sec:access-denied-handler error-page="/accesoDenegado"/>
        <sec:custom-filter position="PRE_AUTH_FILTER" ref="preauthFilter"/>
        <sec:session-management session-fixation-protection="none"/>
    </sec:http>

    <sec:authentication-manager alias="authenticationManager">
        <sec:authentication-provider ref="preAuthenticatedAuthenticationProvider"/>
    </sec:authentication-manager>

    <!--Una vez autenticado el usuario, ejecutamos los procesos pertinentes-->
     <!--<bean id="authenticationSuccessListener" class="es.caib.regweb3.webapp.security.AuthenticationSuccessListener"/>-->


      <bean id="preAuthenticatedProcessingFilterEntryPoint" class="org.springframework.security.web.authentication.Http403ForbiddenEntryPoint" />

      <bean id="preAuthenticatedAuthenticationProvider" class="org.springframework.security.web.authentication.preauth.PreAuthenticatedAuthenticationProvider">
          <property name="preAuthenticatedUserDetailsService">
              <bean class="org.springframework.security.web.authentication.preauth.PreAuthenticatedGrantedAuthoritiesUserDetailsService" />
          </property>
      </bean>

      <bean id="attributes2GrantedAuthoritiesMapper" class="es.caib.regweb3.webapp.security.RolesBasedAttributes2GrantedAuthoritiesMapper">
          <property name="baseRoleMapping">
              <map>
                  <entry key="RWE_SUPERADMIN" value="RWE_SUPERADMIN"/>
                  <entry key="RWE_ADMIN" value="RWE_ADMIN"/>
                  <entry key="RWE_USUARI" value="RWE_USUARI"/>
                  <entry key="@RWE_SUPERADMIN" value="RWE_SUPERADMIN"/>
                  <entry key="@RWE_ADMIN" value="RWE_ADMIN"/>
                  <entry key="@RWE_USUARI" value="RWE_USUARI"/>
                  
              </map>
          </property>
      </bean>
      <bean id="mappableAttributesRetriever" class="es.caib.regweb3.webapp.security.RolesBasedMappableAttributesRetriever">
          <property name="defaultMappableAttributes">
              <set>
                  <value>RWE_SUPERADMIN</value>
                  <value>RWE_ADMIN</value>
                  <value>RWE_USUARI</value>
              </set>
          </property>
      </bean>

      <bean id="preauthFilter" class="org.springframework.security.web.authentication.preauth.j2ee.J2eePreAuthenticatedProcessingFilter">
          <property name="authenticationDetailsSource">
              <bean class="org.springframework.security.web.authentication.preauth.j2ee.J2eeBasedPreAuthenticatedWebAuthenticationDetailsSource">
                  <property name="mappableRolesRetriever" ref="mappableAttributesRetriever"/>
                  <property name="userRoles2GrantedAuthoritiesMapper" ref="attributes2GrantedAuthoritiesMapper"/>
              </bean>
          </property>
          <property name="authenticationManager" ref="authenticationManager"/>
      </bean>

</beans>