<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5"
 xmlns="http://java.sun.com/xml/ns/javaee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

    <display-name>REGWEB3</display-name>
    <description>REGWEB3</description>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    
    <!--  LOAD-ON-STARTUP SERVLET -->
    <servlet>
      <servlet-name>InitServlet</servlet-name>
      <servlet-class>es.caib.regweb3.webapp.utils.InitServlet</servlet-class>
      <load-on-startup>1</load-on-startup>
    </servlet>
    

    <!-- Spring 3 Configuration -->
    <context-param>
        <param-name>contextConfigLocation</param-name>
    	<param-value>/WEB-INF/applicationContext-security.xml</param-value>
    </context-param>

    <servlet>
      <servlet-name>regweb3</servlet-name>
      <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
      <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
      <servlet-name>regweb3</servlet-name>
      <url-pattern>/</url-pattern>
      <url-pattern>*.jar</url-pattern>
    </servlet-mapping>

    <!-- Spring 3 UTF-8 Encoding -->
    <filter>
        <filter-name>encoding-filter</filter-name>
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
        <init-param>
        <param-name>forceEncoding</param-name>
        <param-value>true</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>encoding-filter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>


    <!-- Re direccionamiento errores -->

   	<error-page>
	    <error-code>404</error-code>
	    <location>/error/404</location>
	</error-page>

   <error-page>
        <error-code>403</error-code>
        <location>/error.jsp?errortype=403</location>
    </error-page>

    <error-page>
        <exception-type>es.caib.regweb3.webapp.security.LoginException</exception-type>
        <location>/error.jsp?errortype=-1</location>
    </error-page>

    <error-page>
        <exception-type>java.lang.Exception</exception-type>
        <location>/error.jsp</location>
    </error-page>




	<!-- Spring 3 tld's requeridos en los jsp -->

    <jsp-config>
        <taglib>
            <taglib-uri>http://www.springframework.org/tags</taglib-uri>
            <taglib-location>/WEB-INF/tld/spring.tld</taglib-location>
        </taglib>
        <taglib>
            <taglib-uri>http://www.springframework.org/tags/form</taglib-uri>
            <taglib-location>/WEB-INF/tld/spring-form.tld</taglib-location>
        </taglib>
     </jsp-config>
    
     <security-constraint>
        <web-resource-collection>
            <web-resource-name>regweb_public</web-resource-name>   
            <url-pattern>/css/*</url-pattern>
            <url-pattern>/img/*</url-pattern>
            <url-pattern>/js/*</url-pattern>
            <url-pattern>/error.jsp</url-pattern>
            <url-pattern>/anexo/guardarScan/*</url-pattern>
            <url-pattern>/anexo/scanwebresource/*</url-pattern>
            <url-pattern>/anexo/scanwebresource2/*</url-pattern>
        </web-resource-collection>
        <!-- No auth-constraint means everybody has access! -->
    </security-constraint>
    
    

    <security-constraint>
		<web-resource-collection>
			<web-resource-name>webapp</web-resource-name>
			<url-pattern>/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
            <role-name>RWE_SUPERADMIN</role-name>
            <role-name>RWE_ADMIN</role-name>
            <role-name>RWE_USUARI</role-name>
		</auth-constraint>
	</security-constraint>

	<login-config>
		<auth-method>BASIC</auth-method>
        <realm-name>Govern de les Illes Balears</realm-name>
	</login-config>

	<security-role>
        <description>Administrador de REGWEB3</description>
		<role-name>RWE_SUPERADMIN</role-name>
	</security-role>

	<security-role>
        <description>Administrador d'entitats de REGWEB3</description>
		<role-name>RWE_ADMIN</role-name>
	</security-role>

    <security-role>
        <description>Usuari de REGWEB3</description>
        <role-name>RWE_USUARI</role-name>
    </security-role>

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <filter>
        <filter-name>springSecurityFilterChain</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>springSecurityFilterChain</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

</web-app>
